html,body{
    background: url("Stop_watch_image2.jpg") ; 
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 104vh;
   background-size: 93rem;
   
}
.containerOfHourMinuteSecond{
    color: aliceblue;
}
.dial{
   
    margin-top: 17%;
}
.clock{
    font-size: 2.6rem;
    color: white;
    
}
.txt{
    font-size: 1.7rem;
    color:lightblue;
}
.button{
     display: flex;
     justify-content: center;
}
#start{
    font-size: 1.3rem;
    margin-right: 3rem;
margin-left: 2.7rem;
    border-radius: 50%;
}
#lap{
    font-size: 1.2rem;
    margin-right: 40px;
    width:60px;
    height: 60px;
    border-radius: 50%;
    
}
    #lap:hover{
        background-color: red;
        color: aliceblue;
    
    }
#start:hover{
    background-color: red;
    color: aliceblue;

}
.laps {
    list-style: none;
    color: white; 
    height: 250px;
    overflow: auto;
    width: 80%;
    position: absolute;
    margin-top: 100px;
    padding: 30px ;
    margin-left: 920px;
    }
    
    .lap-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    text-align: center;
    border: 1.5px solid #444;
    border-radius: 50px; 
    }
    
    .time-stamp {
    display: flex;
     margin-left: 25px; }


     @media (max-width: 1250px) {
        body{
            background-repeat: no-repeat;
        }
      .laps{
        margin-top: 40rem;
        margin-right: 55rem;

        height:80px;
        overflow:scroll;
      }}
      @media (max-width: 370px) {
        .clock{
            font-size:2.22rem;
            
        }
        .txt{
            font-size: 1.1rem;
        }
      }
